/* For the main title section */
h1, h4 {
  text-align: center;
  color: hsl(198, 100%, 29%);
  text-decoration: underline dotted;
}

#headerdiv {
    position: sticky;
    position: -webkit-sticky;
  
    top: 1rem;
}

/* Hides an HTML element */
.hidden {
  display: none;
}


main {
  display: block;
}

.image {
  padding: 50px;
  transition: transform 0.4s;
  width: 10cm;
  height: 100mm;
  margin: 0 auto;
}

.image:hover {
  transform: scale(1.25);
  cursor: pointer;
}

* {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    font-family: "Bangers";
}

details {
    position: relative;
    left: 50px;
}

a {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

details {
    margin: 1rem 1rem 1rem 1rem;
}

div nav {
    border-color: #FF0000;
    border-style: solid;
    border-width: .1in .25cm;
    border-radius: 5%;
    width: 100%;
    margin-top: .1rem;
    margin-bottom: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

br ~ b {
    background-color: khaki;
}

fieldset > legend {
    font-family: "Bebas Neue";
    font-size: x-large;
}

hr + section {
    border: palevioletred 2px solid;
}

fieldset {
    padding: .5rem .5rem .5rem .5rem;
}

video {
    max-width: fit-content;
    min-width: 500px;
    margin: auto;
}

@media (max-width: 700px) {
    body {
        background-color: yellow;
    }
}

#survey {
    background-color: rgb(10, 10, 10);
    color: white;
    margin: auto;
}

body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

div.radiodiv {
    margin-right: 1rem;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: inline-block;
}

a[href="#agenda"] {
    color: orangered;
}

#qual-amazing {
    color: gold;
}

#qual-good {
    color: green;
}

#qual-okay {
    color: "white";
}

#qual-bad {
    color: red;
}

fieldset {
    border-top: 2px dotted #FF0000; 
    border-bottom: 2px dashed greenyellow;
    border-left: 2px inset yellowgreen;
    border-right: 2px outset aquamarine;
}